<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>AdminLTE 3 | Starter</title>
  <link rel="stylesheet" href="{{urlBase('resources/assets/plugins/fontawesome-free/css/all.min.css')}}">
  <link rel="stylesheet" href="{{urlBase('resources/assets/dist/css/adminlte.min.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  {% block css %}{% endblock %}

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  {% include 'layouts/header.twig' %}
  {% include 'layouts/menu.twig' %}

  <!-- Content Wrapper. Contains page content -->
  {% block contenido %}
  {% endblock %}
  <!-- Main Footer -->
  {% include 'layouts/footer.twig' %}

</div>
<!-- jQuery -->
<script src="{{urlBase('resources/assets/plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{urlBase('resources/assets/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{urlBase('resources/assets/dist/js/adminlte.min.js')}}"></script>

{% block js %}{% endblock %}
</body>
</html>
